<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            <h1>Fearless Dining</h1>
            <form method="post" action="/add-cuisine">
                <input type="text" name="name" placeholder="New type of cuisine">
                <button class="btn btn-info" type="submit">Add</button>
            </form>

            {% if cuisines is not empty %}
                <ul>
                {% for cuisine in cuisines %}
                    <li><a href="/cuisines/{{ cuisine.getID }}">{{cuisine.getCuisineName}}</a> <a href="/cuisines/{{cuisine.getId}}/edit">Update</a></li>

                    <form action="/cuisines/{{cuisine.getId}}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Delete this cuisine type</button>
                    </form>
                {% endfor %}
                </ul>
            {% else %}
                <p> There are no cuisines yet! </p>
            {% endif %}

        </div>
    </body>
</html>
