<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}

    <body id="landing">

            <div id="landing-banner">
                <h1>Fearless Dining</h1>
                <form method="get" action="/home">
                    <button class="btn btn-success" type="submit">Enter Fearlessly!</button>
                </form>
            </div>
    </body>
</html>
