<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/headerBanner.html.twig' %}

        <div class="container">
            <div class="row" id="restaurant-page">
                <div class="col-md-5">
                    <div id="restaurant-details">
                        <h1>{{restaurant.getRestaurantName}}</h1>

                        <p>Street Address: &nbsp;<span class="restaurants-info">{{restaurant.getAddress}}</span></p>
                        <p>Keywords: &nbsp;<span class="restaurants-info">{{restaurant.getKeywords}}</span></p> <br>

                        <p><a href="/cuisines/{{restaurant.getCuisineId}}"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp; Return to Cuisines page</a></p>
                        <p class="home-link"><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
            </div>
        </div>
        {% include '/components/footerBanner.html.twig' %}
    </body>
</html>
