<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/headerBanner.html.twig' %}

        <div class="container">

            <h1>{{restaurant.getRestaurantName}}</h1>

            <p>Street Address: {{restaurant.getAddress}}</p>
            <p>Keywords: {{restaurant.getKeywords}}</p>

            <p><a href="/cuisines/{{restaurant.getCuisineId}}">Return to Cuisines page</a></p>
            <p class="home-link"><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
        </div>
        {% include '/components/footerBanner.html.twig' %}
    </body>
</html>
