body {
    font-family: 'Rancho', cursive;
    font-size: 200%;
}

h1 {
    font-family: 'Rancho', cursive;
    font-size: 200%;
    text-align: center;
    padding-bottom: 20px;
}

.home-link {
    padding-top: 50px;
    text-align: center;
}
/*LANDING PAGE*/
#landing {
    background-image: url("/img/landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    background-color: #000000;
}

#landing img {
    opacity: 0.5;
}

#landing-banner {
    background: rgba(222, 220, 219, 0.5);
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    height: 280px;
    margin-top: -100px;
    font-size: 250%;
    color: #000000;
}

#landing-banner .btn {
    font-size: 50%;
    letter-spacing: 2px;
}

/***********   Begin Home CUISINES   ************/
.container {
    width: 100%;
}

#cuisines-page {
    margin-left: 20px;
    margin-right: 20px;
    background: url("/img/cuisines.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 15px;
    height: 900px;
}

#cuisines-list, #cuisine-edit-section, #restaurant-details, #restaurants-list, #edit-restaurant-details {
    background-color: #222222;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    height: 850px;
    opacity: 0.95;
    overflow-y: auto;
}

#cuisines-list li {
    font-size: 180%;
    padding-bottom: 10px;
}

#cuisines-list .btn {
    padding: 2px;
    font-size: 100%;
}

.types-list {
    display: inline;
}

#add-cuisine-form, #cuisine-edit-form, #add-restaurant-form, #restaurant-edit-form {
    padding-bottom: 40px;
    font-size: 150%;
    padding-left: 30px;
}

#add-cuisine-form .btn {
    padding: 2px;
    font-size: 70%;
}

#cuisine-edit-form .btn {
    padding: 2px;
    font-size: 70%;
}

#add-cuisine-form {
    padding-bottom: 40px;
    font-size: 150%;
    padding-left: 30px;
}

#cuisine-edit-column {
    background: url("/img/cuisine-edit.jpg") no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 15px;
    height: 900px;
}

#cuisine-edit-section {
    text-align: center;
}
/***********   End Home CUISINES   ************/


 /********  Begin RESTAURANT INFO  ****************/
#restaurants-page {
    margin-left: 20px;
    margin-right: 20px;
    background: url("/img/italian.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 15px;
    height: 900px;
}

#restaurants-list li {
    font-size: 180%;
    padding-bottom: 10px;
}

#restaurants-list .btn {
    padding: 2px;
    font-size: 100%;
}

#restaurant-details .btn {
    padding: 2px;
    font-size: 100%;
}

#add-restaurant-form input {
    width: 93%;
}

#add-restaurant-form .btn {
    padding: 2px;
    font-size: 80%;
}

#add-restaurant-button {
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#restaurant-page {
    margin-left: 20px;
    margin-right: 20px;
    background: url("/img/japanese.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 15px;
    height: 900px;
}

#restaurant-details li {
    font-size: 180%;
    padding-bottom: 10px;
}

.restaurants-info {
    font-size: 150%;
    color: darkcyan;
}

#edit-restaurant-page {
    margin-left: 20px;
    margin-right: 20px;
    background: url("/img/restaurant-edit.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 15px;
    height: 900px;
}

#restaurant-edit-form .btn {
    padding: 2px;
    font-size: 70%;
    width: 90%;
    vertical-align: middle;
    text-align: center;
}
 /********  End RESTAURANT INFO  ****************/
